* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Muli", Serif;
  color: #444;
  font-weight: 300;
  line-height: 1.6; }

.container {
  max-width: 136.6rem;
  margin: 0 auto;
  background-color: #eee;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [margin-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [margin-end]; }

body {
  font-family: "Muli", Serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #444; }

.heading-primary {
  font-family: "Merriweather", Sans-Serif;
  color: #021e73;
  backface-visibility: hidden;
  margin-bottom: -0.5rem;
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem; }

.heading-secondary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  letter-spacing: 0.2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 8rem !important; }

.nav {
  background-color: #0528f2;
  color: #fff;
  grid-column: margin-start / margin-end;
  display: flex;
  justify-content: space-between; }
  .nav .logo {
    height: 3.25rem;
    padding: 5px; }
  .nav__logged--out {
    align-self: end; }

.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .header__content {
    width: 75%;
    line-height: 2rem;
    position: relative;
    align-self: center; }
  .header__picture {
    width: 70%;
    height: 70%;
    align-self: start; }
    .header__picture--hero {
      width: 80%;
      text-align: center; }

.search-box {
  grid-column: margin-start / margin-end; }

.match-job {
  grid-column: center-start / center-end; }
  .match-job__boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-items: stretch;
    column-gap: 1rem;
    row-gap: 1.5rem; }
  .match-job__box {
    display: flex;
    align-items: end;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    border: solid 1px #ccc;
    text-decoration: none;
    color: inherit; }
    .match-job__box--detail {
      padding: 3rem;
      width: 70%; }
    .match-job__box--wage {
      padding: 3rem;
      border-left: 1px solid #ccc; }
    .match-job__box--title-1 {
      font-size: 2.5rem; }
    .match-job__box--title-2 {
      font-size: 3rem; }
    .match-job__box--text {
      margin-bottom: 0; }

.footer {
  grid-column: margin-start / margin-end; }

.btn-inline {
  border: none;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  color: #eee;
  font-size: inherit;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline:hover {
    color: #f2cb05; }
  .btn-inline:focus {
    outline: none; }

.btn-round, .btn-round:link, .btn-round:visited {
  background-color: #021e73;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer; }

.btn-text:link, .btn-text:visited {
  color: #021e73;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #021e73;
  padding: 3px 10px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #021e73;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }
