// COLOR VARIABLES
$color-blue: #0424D9;
$color-blue-light: #0528F2;
$color-blue-dark: #021E73;

$color-yellow: #F2E205;
$color-yellow-dark: #F2CB05;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-title: 'Muli', Sans-Serif;
// Font-Size: 46px;
$font-text: 'Merriweather', Serif;
// Font-Size: 16px;